/* Coolors Exported Palette - https://coolors.co/6f9baf-ecf4f7-576770-88c4c9-e6eaef */

/* CSS HEX */
--steel-blue: #6F9BAFff;
--alice-blue: #ECF4F7ff;
--blue-slate: #576770ff;
--pearl-aqua: #88C4C9ff;
--platinum: #E6EAEFff;

/* CSS HSL */
--steel-blue: hsla(199, 29%, 56%, 1);
--alice-blue: hsla(196, 41%, 95%, 1);
--blue-slate: hsla(202, 13%, 39%, 1);
--pearl-aqua: hsla(185, 38%, 66%, 1);
--platinum: hsla(213, 22%, 92%, 1);

/* SCSS HEX */
$steel-blue: #6F9BAFff;
$alice-blue: #ECF4F7ff;
$blue-slate: #576770ff;
$pearl-aqua: #88C4C9ff;
$platinum: #E6EAEFff;

/* SCSS HSL */
$steel-blue: hsla(199, 29%, 56%, 1);
$alice-blue: hsla(196, 41%, 95%, 1);
$blue-slate: hsla(202, 13%, 39%, 1);
$pearl-aqua: hsla(185, 38%, 66%, 1);
$platinum: hsla(213, 22%, 92%, 1);

/* SCSS RGB */
$steel-blue: rgba(111, 155, 175, 1);
$alice-blue: rgba(236, 244, 247, 1);
$blue-slate: rgba(87, 103, 112, 1);
$pearl-aqua: rgba(136, 196, 201, 1);
$platinum: rgba(230, 234, 239, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-right: linear-gradient(90deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-bottom: linear-gradient(180deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-left: linear-gradient(270deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-top-right: linear-gradient(45deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-bottom-right: linear-gradient(135deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-top-left: linear-gradient(225deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-bottom-left: linear-gradient(315deg, #6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);
$gradient-radial: radial-gradient(#6F9BAFff, #ECF4F7ff, #576770ff, #88C4C9ff, #E6EAEFff);